{# SETTINGS #}

<div class="vue-root">
  <ws-card variant="{{ variant }}">
    <template #image>{{ image }}</template>
    <template #headline>{{ headline }}</template>
    <template #text>{{ text }}</template>
  </ws-card>
</div>
