{#
  Defaults
#}
{% set tag_name = tag_name|default('div') %}
{% set color = color|default('primary') %}
{% set size = size|default('default') %}
{% set attributes = attributes|default(create_attribute()) %}
{% set icon_size = icon_size|default('default') %}
{% set icon_alignment = icon_alignment|default('right') %}

{#
  Classes
#}

<div class="vue-root">
  <ws-button variant="{{ variant }}">
    <template #text>{{ text }}</template>
  </ws-button>
</div>
